@model DoorViewModel

@{
	ViewBag.Title = "Edit Door";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Door" asp-action="Edit" asp-route-id="@Model.Door.DoorId" method="post" class="form-horizontal" role="form">
	<div class="form-horizontal">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group">
			<label class="col-md-2 control-label">Door Name</label>
			<div class="col-md-10">
				<input type="text" class="form-control" name="DoorName" id="DoorName" required maxlength="50" value="@Model.Door.DoorName" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Room</label>
			<div class="col-md-10">
				<select name="RoomId" id="RoomId" class="form-control">
					@foreach (var room in Model.AllRooms) {
						<option value="@room.RoomId" selected="@(room.RoomId == Model.Door.RoomId)">@room.RoomName</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default"/>
			</div>
		</div>
	</div>
</form>
